# Environment Setup
ENV=development

# Database Configuration
DB_USER=tn_user
DB_PASSWORD=secure_password_here
DB_HOST=localhost
DB_PORT=3306
DB_NAME=tn_holiday

# Log Configuration
LOG_LEVEL=INFO

# Telegram Bot Configurations
TELEGRAM_BOT_TOKEN=1234567890:ABCdefGhIJKlmNoPQRsTUVwxyZ
TELEGRAM_CHANNEL_ID=-1001234567890